<div class="row">
	
	<div class="col-md-5">
		<h3 class="title">{{this.title}}</h3>
		<a class="btn btn-dark save" id="{{this.title}}-{{this.times}}" href="#">Save Movie</a>
	</div>
	<div class="col-md-7">
			<p id="#" >{{this.times}}</p>
	</div>
</div>
<!-- /.row -->

<hr>