<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Movies
    <small>Currently Playing</small>
    <a class="btn btn-primary" id="load" href="/all">View Showtimes</a>
    <a class="btn btn-primary loadS" id="loadS" href="/saved">Load Saved Movies</a>
  </h1>
  <ul>
    {{#each posts}}
      {{> posts/post-block}}
    {{/each}}
    {{#each saved}}
      {{> posts/saved-block}}
    {{/each}}
  </ul>

</div>